<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://alcdn.msauth.net/browser/2.13.0/js/msal-browser.min.js"></script>
</head>

<body class="body">
    <div class="login-page">
        <div class="form">
            <form method="post" action="/Auth/Login">
                <lottie-player
                    src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
                    background="transparent" speed="1" style="justify-content: center;" loop autoplay></lottie-player>
                <input type="text" placeholder="&#xf007;  Username" name="username" />
                <input type="password" id="password" placeholder="&#xf023;  Password" name="password" />
                <i class="fas fa-eye" onclick="show()"></i>
                <br />
                <br />
                <button type="submit">LOGIN</button>
                <button type="button" onclick="window.location.href='@Url.Action("GuestInfo", "Auth")'">Guest</button>
                <p class="message"></p>
            </form>
            <button id="googleSignInBtn" class="button button-block google"><i class="fab fa-google"></i> Sign In with
                Google</button>
            <button id="microsoftSignInBtn" class="button button-block microsoft"><i class="fab fa-microsoft"></i> Sign
                In with Microsoft</button>
            <div class="g_id_signin" data-type="standard"></div>
        </div>
    </div>
    <script>
        const googleClientId = "440230422956-k3qiiju5c4u8clc7p8l6d4cout65o6mt.apps.googleusercontent.com";
        const msClientId = "fc44908d-ee05-492a-b6e3-c950b10b3002";
        const msRedirectUri = "http://localhost:5101";

        function onSignIn(response) {
            console.log('Google Sign-In response:', response);
            var id_token = response.credential;
            fetch('http://localhost:5014/api/Auth/google-signin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ IdToken: id_token })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.token) {
                        localStorage.setItem('token', data.token);
                        alert('Google Sign-In successful');
                        window.location.href = '/Home/Homepage';
                    } else {
                        alert('Google Sign-In failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Google Sign-In failed');
                });
        }

        window.onload = function () {
            google.accounts.id.initialize({
                client_id: googleClientId,
                callback: onSignIn
            });

            google.accounts.id.renderButton(
                document.getElementById('googleSignInBtn'),
                { theme: 'outline', size: 'large' }
            );

            google.accounts.id.prompt();
        }

        const msalConfig = {
            auth: {
                clientId: msClientId,
                authority: `https://login.microsoftonline.com/27a9e071-d275-4e4f-a7b5-c8ffd1950bbc`,
                redirectUri: msRedirectUri,
            },
            cache: {
                cacheLocation: "localStorage",
                storeAuthStateInCookie: false
            }
        };

        const msalInstance = new msal.PublicClientApplication(msalConfig);

        document.getElementById('microsoftSignInBtn').addEventListener('click', () => {
            msalInstance.loginPopup({
                scopes: ["user.read"]
            }).then(response => {
                console.log('Microsoft Sign-In response:', response);
                var id_token = response.idToken;
                fetch('http://localhost:5014/api/Auth/microsoft-signin', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ IdToken: id_token })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.token) {
                            localStorage.setItem('token', data.token);
                            alert('Microsoft Sign-In successful');
                            window.location.href = '/Home/Homepage';
                        } else {
                            alert('Microsoft Sign-In failed');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Microsoft Sign-In failed');
                    });
            }).catch(error => {
                console.error('Error during Microsoft Sign-In:', error);
                alert('Microsoft Sign-In failed');
            });
        });



    </script>
</body>

</html>
