<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body class="body">
    <div class="login-page">
        <div class="form">
            <form method="post" action="/Auth/Login">
                <lottie-player
                    src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
                    background="transparent" speed="1" style="justify-content: center;" loop autoplay></lottie-player>
                <input type="text" placeholder="&#xf007;  Username" name="username" />
                <input type="password" id="password" placeholder="&#xf023;  Password" name="password" />
                <i class="fas fa-eye" onclick="show()"></i>
                <br />
                <br />
                <button type="submit">LOGIN</button>
                <button type="button" onclick="window.location.href='@Url.Action("GuestInfo", "Auth")'">Guest</button>
                <p class="message"></p>
            </form>
            <!-- Thêm nút đăng nhập bằng Google -->
            <button id="googleSignInBtn" class="button button-block google"><i class="fab fa-google"></i> Sign In with
                Google</button>
            <div class="g_id_signin" data-type="standard"></div>
        </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        const client_id = '440230422956-k3qiiju5c4u8clc7p8l6d4cout65o6mt.apps.googleusercontent.com';

        function show() {
            var password = document.getElementById("password");
            var icon = document.querySelector(".fas");

            // ========== Checking type of password ===========
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }

        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            fetch('http://localhost:5014/api/Auth/google-signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ IdToken: id_token })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.token) {
                        // Store the token in localStorage or cookie
                        localStorage.setItem('token', data.token);
                        // Display success message and redirect after a delay
                        displayMessage('Google Sign-In successful', '/Home/Homepage');
                    } else {
                        alert('Google Sign-In failed');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Google Sign-In failed');
                });
        }

        function initGoogleSignIn() {
            gapi.load('auth2', function () {
                var auth2 = gapi.auth2.init({
                    client_id: client_id,
                    cookiepolicy: 'single_host_origin',
                });
                document.getElementById('googleSignInBtn').addEventListener('click', function () {
                    auth2.signIn().then(onSignIn);
                });
            });
        }

        function displayMessage(message, redirectUrl) {
            alert(message);
            // Redirect after 1.5 seconds (1500 milliseconds)
            setTimeout(function () {
                window.location.href = redirectUrl;
            }, 1500);
        }

        document.addEventListener('DOMContentLoaded', function () {
            initGoogleSignIn();
        });
    </script>
</body>

</html>
